<!-- custom_query.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Hired per Quarter</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gcc_historic_data_db/table_view.css' %}">
</head>

<body>
    <table class="data-table">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in page %}
            <tr>
                <td>{{ item.department }}</td>
                <td>{{ item.job }}</td>
                <td>{{ item.q1 }}</td>
                <td>{{ item.q2 }}</td>
                <td>{{ item.q3 }}</td>
                <td>{{ item.q4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">{{ page.number }}</span>

            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>

</html>